/* #region FONTS */
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-BoldItalic.woff2) format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* #endregion FONTS*/

/* BODY */
html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    background: #fafafa;
    color: #111;
}

section:not(:first-of-type) {
    margin-bottom: 80px;
}

@media only screen and (min-width: 768px) {
    section:not(:first-of-type) {
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 1200px) {
    section:not(:first-of-type) {
        margin-bottom: 120px;
    }
}

.container {
    min-width: 320px;
    /* width: 375px; */
    margin: 0 auto;
    padding: 0 20px;

}

@media only screen and (min-width: 768px) {
    .container {
        min-width: 704px;
        /* margin: 0 auto; */
        padding: 0 32px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        min-width: 1136px;
        max-width: 1440px;
        /* margin: 0 auto; */
    }
}

.title {
    width: 283px;
    margin: 0 auto 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
}

@media only screen and (min-width: 768px) {
    .title {
        width: 412px;
        margin-bottom: 50px;
        font-size: 24px;
        line-height: 1.16;
    }
}

.accent-text {
    color: #fd9222;
}

/* BUTTON */
/* #region btn */
.btn {
    font-weight: 600;
    font-size: 14px;
    color: #fff;

    background: #fd9222;
    border: none;

    border-radius: 100px;
    padding: 12px 28px;
    transition: color 250ms cubic-bezier(0.4, 0, 1, 1), background-color 250ms cubic-bezier(0.4, 0, 1, 1);
}

@media only screen and (min-width: 768px) {
    .btn {
        padding: 14px 40px;
    }
}

.btn:hover,
.btn:focus {
    background-color: #fcf1e0;
    color: #fd9222;
    transform: scale(1.1);
}

.hero-btn-transparent {
    background-color: transparent;
    border: 1px solid #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 1, 1), border 250ms cubic-bezier(0.4, 0, 1, 1);
}

.hero-btn-transparent:hover,
.hero-btn-transparent:focus {
    border: 1px solid #fd9222;
    color: #fd9222;
    background-color: transparent;
}

.btn-reviews {
    display: block;
    margin: 0 auto;


    font-weight: 600;
    text-align: center;
    color: #111;
    background-color: transparent;
    border: 1px solid #fd9222;
    transition: color 250ms cubic-bezier(0.4, 0, 1, 1), border 250ms cubic-bezier(0.4, 0, 1, 1), background-color 250ms cubic-bezier(0.4, 0, 1, 1);
}

.btn-reviews:hover,
.btn-reviews:focus {
    border: 1px solid #fd9222;
    ;
    color: #fff;
    background-color: #fd9222;
    ;
}

/* #endregion  btn */

/* #region HEADER */
.header {
    /* display: flex;
    align-items: center; */
    padding: 17px 0;
}

@media only screen and (min-width: 1200px) {
    .header {
        padding: 24px 0;
    }
}

.header-container {
    display: flex;

}

.nav {
    display: flex;
    align-items: center;

    justify-content: space-between;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .nav {}
}

.logo {
    margin-right: 47px;
}

@media only screen and (min-width: 1200px) {
    .logo {
        width: 213px;
        height: 24px;
        margin-right: 365px;
    }
}

.logo-icon {
    width: 100%;
}

.burger-btn {
    border: none;
    background-color: transparent;
    width: 28px;
    height: 28px;
    padding: 0;
    color: #111111;
    transition: color 50ms cubic-bezier(0.4, 0, 1, 1);
}

.burger-btn:hover,
.burger-btn:focus,
.burger-btn:active {
    color: #fd9222;
}

@media only screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
}

.burger-icon {
    stroke: currentColor;
}

.menu {
    display: none
}

@media only screen and (min-width: 768px) {
    .menu {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-right: 28px;
    }
}

@media only screen and (min-width: 1200px) {
    .menu {
        gap: 24px;
        margin-right: 90px;
    }
}

.menu-list {}

.menu-list-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
    padding: 12px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 1, 1);
}

.menu-list-link:hover,
.menu-list-link:focus {
    color: #fd9222;
}

.socials {
    display: none;
}

@media only screen and (min-width: 768px) {
    .socials {
        display: flex;
        align-items: center;
        gap: 14px;
        margin-left: auto;
    }
}

.socials-list {}

.socials-list-link {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    transition: color 250ms cubic-bezier(0.4, 0, 1, 1), border-color 250ms cubic-bezier(0.4, 0, 1, 1);
}

.socials-list-link:hover,
.socials-list-link:focus {
    border: 1px solid rgba(253, 146, 34, 0.1);
    color: #fd9222;
}

.socials-icons {
    fill: currentColor;
}

.socials-icons:hover,
.socials-icons:focus {
    transform: scale(1.1);
}

/* #endregion HEADER */

/* #region HERO section */
.hero {
    color: #fff;
    margin-bottom: 80px;
}

@media only screen and (min-width: 768px) {
    .hero {
        margin-bottom: -40px;
    }
}

@media only screen and (min-width: 1200px) {
    .hero {
        margin-bottom: 80px;
    }
}

.hero-container {
    padding: 395px 20px 20px;
    margin-bottom: 80px;
    border-radius: 30px;
    background-image:
        linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
        url("../images/hero-bg_lg@1x.webp");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-resolution: 192dpi) {
    .hero-container {
        background-image:
            linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
            url("../images/hero-bg_lg@2x.webp");
    }
}

@media only screen and (min-width: 768px) {
    .hero-container {
        padding: 678px 40px 40px;
    }
}

@media only screen and (min-width: 1200px) {
    .hero-container {
        padding: 381px 40px 40px;
    }
}

.hero-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
    .hero-title {
        max-width: 484px;
        font-size: 28px;
        line-height: 1.21;
    }
}

.hero-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 14px;
    align-items: center;
}

.hero-link {
    display: flex;
    align-items: center;
    gap: 14px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    transition: color 50ms cubic-bezier(0.4, 0, 1, 1);
}

@media only screen and (min-width: 768px) {
    .hero-link {
        font-size: 14px;
        line-height: 1.28;
        margin-left: auto;
    }
}

.hero-link:hover,
.hero-link:focus {
    color: #fd9222;
}

.hero-link:hover .hero-scroll,
.hero-link:focus .hero-scroll {
    fill: #fff;
    background-color: #fd9222;
    transform: scale(1.1);
}

.hero-scroll {
    border-radius: 100%;
    fill: #fd9222;
    background-color: #fff;
    width: 28px;
    height: 28px;
    transition: fill 50ms cubic-bezier(0.4, 0, 1, 1), background-color 50ms cubic-bezier(0.4, 0, 1, 1), transform 50ms cubic-bezier(0.4, 0, 1, 1);
}

@media only screen and (min-width: 768px) {
    .hero-scroll {
        width: 38px;
        height: 38px;
    }
}


/* #endregion HERO section */

/* benefits */
/* #region benefits */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
}

.benefits {
    background: #1e1823;
    padding: 50px 0;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

}

@media only screen and (min-width: 768px) {
    .benefits-list {
        flex-direction: row;
        gap: 44px 88px;
    }
}

@media only screen and (min-width: 1200px) {
    .benefits-list {
        justify-content: space-between;
        gap: 88px;
    }
}

.benefits-item {
    width: 100%;
    position: relative;
}

@media only screen and (min-width: 768px) {
    .benefits-item {
        width: calc((100% - 88px * 1) / 2);
        /* width: 308px; */
    }
}

@media only screen and (min-width: 1200px) {
    .benefits-item {
        width: calc((100% - 88px * 2) / 3);
    }
}

@media only screen and (min-width: 1200px) {
    .benefits-item:not(:last-child)::after {
        content: '';
        position: absolute;
        top: calc(50% - 124px / 2);
        right: -45px;
        width: 1px;
        height: 124px;
        display: block;
        background-color: rgba(255, 255, 255, 0.5);
    }
}


.benefits-icon {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    width: 62px;
    height: 62px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fd9222;
    margin-bottom: 22px;
}

.benefits-icon-svg {
    fill: currentColor;
}

.benefits-title {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
}

.benefits-desc {
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

@media only screen and (min-width: minwidthpx) {
    .benefits-desc {
        line-height: 1.28;
    }
}

/* #endregion benefits */

/* ingredients */
/* #region ingredients */
.ingredients {}

.ingredients-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    height: 1140px;
    overflow-y: auto;
}

@media only screen and (min-width: 768px) {
    .ingredients-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
        height: auto;
    }
}

@media only screen and (min-width: 1200px) {
    .ingredients-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px 32px;
    }
}

.ingredients-item {
    border-radius: 15px;
    width: 100%;
    height: 270px;

    padding: 28px 28px;

    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .ingredients-item {
        width: calc((100% - 1 * 32px) / 2);
    }
}

@media only screen and (min-width: 1200px) {
    .ingredients-item {
        width: calc((100% - 3 * 32px) / 4);
    }
}

.ingredients-item-card {
    /* background-color: #111; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 280px;

}

/* ? a * n + b */
.ingredients-item:nth-child(2n) {
    border: 1px solid #fd9222;
}

.ingredients-item:nth-child(4n + 1) {
    background-color: #fd9222;
    color: #ffffff;
}

.ingredients-item:nth-child(4n + 3) {
    background-color: #1e1823;
    color: #ffffff;
}

.ingredients-item:hover .ingredients-img {
    transform: scale(1.1);
}



.ingredients-img {
    /* margin-bottom: 36px; */

    margin: 0 22px;
    justify-content: center;
    object-fit: contain;
    transition: transform 300ms ease-in;
}

@media only screen and (min-width: 1200px) {
    .ingredients-img {
        width: 214px;
        height: 160px;
    }
}

.ingredients-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

/* #endregion ingredients */

/* #region MADE */
.made {}

.made-container {
    /* padding: 0 45px; */
}

@media only screen and (min-width: 768px) {
    .made-container {
        padding: 0 77px;
    }
}

@media only screen and (min-width: 1200px) {
    .made-container {
        padding: 0 32px;
    }
}

.made-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

@media only screen and (min-width: 1200px) {
    .made-wrapper {
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
    }
}

.made-video {
    border-radius: 15px;
    /* width: 335px; */
    width: 100%;
    height: 500px;
    object-fit: cover;
}

@media only screen and (min-width: 768px) {
    .made-video {
        width: 614px;
        height: 400px;
    }
}

@media only screen and (min-width: 1200px) {
    .made-video {
        width: 600px;
        height: 400px;
    }
}

.made-content {
    padding: 14px;
    background: #fff;
    border-radius: 15px;
}

@media only screen and (min-width: 768px) {
    .made-content {
        padding: 32px;
    }
}

@media only screen and (min-width: 1200px) {
    .made-content {
        padding: 32px;
        height: 400px;
        /* width: 516px; */
    }
}

.made-title {
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .made-title {
        margin-bottom: 28px;
    }
}

.made-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

@media only screen and (min-width: 1200px) {
    .made-list {
        gap: 24px;
    }
}

.made-item {
    position: relative;
    line-height: 1.28;
    letter-spacing: -0.02em;
    padding-left: 16px;
}

.made-item::before {
    content: '';
    position: absolute;
    /* flex-shrink: 0;
    display: inline-block; */
    left: 0;
    top: 0;
    width: 8px;
    height: 8px;
    margin-top: 5px;
    background-color: #4c4c4c;
    border: 1px solid #eceded;
    border-radius: 50%;

}

/* endregiom MADDE */

/* #region PRODUCTS */
.products {}

.products-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center
}

@media only screen and (min-width: 768px) {
    .products-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;

    }
}

@media only screen and (min-width: 1200px) {
    .products-list {
        gap: 24px 18px;
    }
}

.products-item {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    width: 100%;
    /* width: 335px; */
    /* height: 364px; */
    background: #fff;
    padding: 32px 53px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@media only screen and (min-width: 768px) {
    .products-item {
        width: 335px;
    }
}

@media only screen and (min-width: 1200px) {
    .products-item {
        width: calc((100% - 18px * 3) / 4);
    }
}

.products-item:hover .products-img {
    transform: scale(1.1);
}

.products-img {
    margin-bottom: 8px;
    transition: transform 300ms ease-in;
}

.products-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
    margin-bottom: 2px;
}

.products-type {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
    margin-bottom: 18px;
}

.products-price {
    font-weight: 600;

    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    padding: 8px 20px;
    /* width: 94px;
    height: 33px; */
    background: #fafafa;
}

/* #endregion PRODUCTS */

/* #region bestsellers */
.bestsellers {}

.bestsellers-list {
    display: flex;
    /* justify-content: center; */
    margin: 0 auto;
    width: 350px;
    gap: 16px;
    overflow-x: auto;
}

@media only screen and (min-width: 768px) {
    .bestsellers-list {
        width: 702px;
    }
}

@media only screen and (min-width: 1200px) {
    .bestsellers-list {
        width: 100%;
        justify-content: center;
    }
}

.bestsellers-item {
    width: 335px;
    border-radius: 15px 15px 0 0;
}

.bestsellers-box {
    position: relative;
}

.bestsellers-img {
    overflow: hidden;
}

.bestsellers-text {
    position: absolute;
    inset: 0;
    opacity: 0;

    backdrop-filter: blur(15px);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
    border-radius: 15px 15px 0 0;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;

    transition: opacity 500ms ease-in-out;

}

.bestsellers-item:hover .bestsellers-text {
    opacity: 1;
}

.bestsellers-title {
    padding: 24px;
    text-align: center;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    border-left: 1px solid rgba(17, 17, 17, 0.1);
    border-right: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 0 0 15px 15px;
    width: 335px;
    /* height: 72px; */
    background: #fff;
}

/* #endregion bestsellers */


/* #region reviews */
.reviews {
    /* overflow: visible; */
}

.reviews-list {
    /* margin-bottom: 32px; */
    display: flex;
    /* align-items: center; */
    gap: 16px;
    margin: 0 auto 32px;
    overflow-x: auto;
    /* overflow-y: visible; */
    width: 335px;
}

@media only screen and (min-width: 768px) {
    .reviews-list {
        width: 702px;
    }
}

@media only screen and (min-width: 1200px) {
    .reviews-list {
        width: 1136px;
        gap: 28px;
    }
}

.reviews-list-card {
    /* height: 242px; */
    padding-top: 40px;
}

.reviews-item {
    position: relative;
    width: 335px;
    height: 100%;
    /* flex-shrink: 0; */
    padding: 56px 18px 26px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;

    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    background: #fff;
}

@media only screen and (min-width: 768px) {
    .reviews-item {
        width: 344px;
        padding: 56px 16px 16px;
    }
}

@media only screen and (min-width: 1200px) {
    .reviews-item {
        width: 360px;
        padding: 56px 16px 16px;
    }
}

.reviews-img {
    position: absolute;
    top: -42px;
    left: 50%;
    transform: translateX(-50%);
}

.reviews-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    margin-bottom: 24px;
}

.reviews-text {
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

/* #endregion reviews */

/* region FOOTER */
.footer {
    background: #1e1823;
    color: #fff;
}

/* .footer-container {
    padding: 32px 20px;
}

@media only screen and (min-width: 768px) {
    .footer-container {
        padding: 50px 32px;
    }
} */

.footer-top {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 32px 0;
}

@media only screen and (min-width: 768px) {
    .footer-top {
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
        padding: 50px 0;
    }
}

@media only screen and (min-width: 1200px) {
    .footer-top {
        gap: 50px;
    }
}

.footer-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.02em;
    width: 300px;
}

.footer-top-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media only screen and (min-width: 768px) {
    .footer-top-left {
        display: flex;
        flex-direction: row-reverse;
        gap: 32px;
    }
}

.footer-contact {
    display: flex;
    flex-direction: column;
    /* gap: 4px; */

}

.footer-subtitle {
    font-weight: 500;
    line-height: 1.28;
    margin-bottom: 14px;
}

.footer-contact-list {
    line-height: 1.28;
    letter-spacing: -0.02em;
}

.footer-contact-item {
    display: flex;
    gap: 4px;
}

.footer-contact-link {}

.footer-contact-link:hover,
.footer-contact-link:focus {
    color: #fd9222;
}

.footer-socials-list {
    display: flex;
    gap: 14px;
}

.footer-socials-item {}

.footer-socials-link {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    gap: 8px;

    transition: color 250ms cubic-bezier(0.4, 0, 1, 1), border-color 250ms cubic-bezier(0.4, 0, 1, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    border: 1px solid rgba(253, 146, 34, 0.1);
    color: #fd9222;
}

.footer-socials-icons {
    fill: currentColor;
}

.footer-socials-icons:hover,
.footer-socials-icons:focus {
    transform: scale(1.1);
}

/* footer bottom */
.footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 0;
}

@media only screen and (min-width: 768px) {
    .footer-bottom {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* gap: 40px; */
        padding: 24px 0 50px;
    }
}

@media only screen and (min-width: 1200px) {
    .footer-bottom {

        /* gap: 50px; */
    }
}

.footer-menu-list {
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */

    flex-direction: column;
    gap: 18px;
}

@media only screen and (min-width: 768px) {
    .footer-menu-list {
        flex-direction: row;
        gap: 16px;
    }
}

@media only screen and (min-width: 1200px) {
    .footer-menu-list {
        gap: 24px;
    }
}

.footer-menu-item {}

.footer-menu-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    padding: 14px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 1, 1);
}

.footer-menu-link:hover,
.footer-menu-link:focus {
    color: #fd9222;

}

/* FORM */

.footer-form {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.footer-form-label {}

.footer-form-input {
    border: 1.50px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding: 14px 18px;
    background-color: transparent;
    outline: transparent;
    width: 207px;
    height: 45px;
    color: #fff;

    letter-spacing: -0.02em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:focus {
    border-color: #fd9222;
}

@media only screen and (min-width: 768px) {
    .footer-form-input {
        width: 232px;
    }
}

@media only screen and (min-width: 1200px) {
    .footer-form-input {
        width: 313px;
    }
}

.footer-btn {
    padding: 14px 26px;
    width: 120px;

}

@media only screen and (min-width: 768px) {
    .footer-btn {
        width: 128px;
    }
}

@media only screen and (min-width: 1200px) {
    .footer-btn {
        width: 137px;
    }
}

/* endregion FOOTER */

/* !Mobile menu */
/* #region MENU */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    background: #1e1823;
    transition: transform 400ms ease-in;
    overflow-y: scroll;
}

@media only screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 136px 20px 20px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: auto;
    margin-bottom: 28px;
    color: #fff;
    transition: color 50ms cubic-bezier(0.4, 0, 1, 1), transform 400ms ease-in;
}

.close-btn:hover,
.close-btn:focus {
    color: #fd9222;
    transform: scale(1.1);
}

.close-icon {
    stroke: currentColor;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: auto;
}


.mobile-menu-item {}

.mobile-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 1, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:active {
    color: #fd9222;

}

.mobile-socials-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 14px;
}

.mobile-socials-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
}

.mobile-socials-link {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
    color: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 1, 1), border-color 250ms cubic-bezier(0.4, 0, 1, 1);
    ;
}

.mobile-socials-link:hover,
.mobile-socials-link:focus,
.mobile-socials-linc:active {
    color: #fd9222;
    border-color: rgba(253, 146, 34, 0.1);
}

.mobile-socials-icons {
    fill: currentColor;
}

.mobile-socials-icons:hover,
.mobile-socials-icons:focus,
.mobile-socials-icons:active {
    transform: scale(1.1);
}

/* #endregion MENU */

/* ! Modal */
/* #region Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition-delay: 0ms;

    overflow-y: scroll;
}

.modal {
    border-radius: 15px;
    width: 311px;
    min-height: 622px;
    padding: 32px 24px;
    background-color: #fcfcfc;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .modal {
        width: 517px;

        padding: 40px;
    }
}

.btn-close-modal {
    position: absolute;
    top: 14px;
    right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: auto;
    margin-bottom: 28px;
    color: #000000;
    transition: color 50ms cubic-bezier(0.4, 0, 1, 1), transform 400ms ease-in;
}

@media only screen and (min-width: 768px) {
    .btn-close-modal {
        top: 24px;
        right: 24px;
        width: 28px;
        height: 28px;
    }
}

.btn-close-modal:hover,
.btn-close-modal:focus {
    color: #fd9222;
    transform: scale(1.1);
}

.btn-close-modal-icon {
    stroke: currentColor;
}

.title-modal {
    text-align: left;
}

.modal-form {}

.modal-form-field {
    font-size: 13px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
    margin-bottom: 15px;
}

.modal-form-label {
    display: block;
    margin-bottom: 4px;
}

.modal-form-wrapper {
    position: relative;
    margin-bottom: 8px;
}

.modal-form-input {
    display: block;
    width: 100%;
    height: 45px;
    padding: 14px 16px 14px 41px;
    border: 1.50px solid rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.modal-form-input:focus {
    border-color: #fd9222;
    ;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    stroke: currentColor;
    fill: transparent;


    transform: translateY(-50%);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-icon {
    stroke: #fd9222;
}

.modal-textarea {
    margin-bottom: 16px;
}

.modal-form-message {
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    resize: none;
}

.modal-form-message:focus {
    border-color: #fd9222;
}

/* checked */
.form-agreement {
    margin-bottom: 24px;
}

.checkbox {}

.agreement-wrapper {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.agreement-checkbox {
    height: 16px;
    width: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 2px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: transparent;
    cursor: pointer;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox-icon {
    fill: currentColor;
}

input[type='checkbox']:checked+.agreement-wrapper>.agreement-checkbox {
    background-color: #fd9222;
    color: #fff;
    border: none;
    fill: #f4f4fd;
}

.agreement-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fd9222;
}

.button-modal {
    /* min-width: 165px;
    height: 40px; */
}

/* #endregion*/