.none {
    display: none;
}

/* #region FONTS */
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-BoldItalic.woff2) format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* #endregion FONTS*/

/* BODY */
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    background: #fafafa;
}


.container {
    min-width: 320px;
    /* width: 375px; */
    margin: 0 auto;
    padding: 0 20px;

    outline: 2px solid rgb(253, 162, 162);
    outline-offset: -2px;
}

@media only screen and (min-width: 768px) {
    .container {
        min-width: 736px;
        margin: 0 auto;
        padding: 0 16px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        min-width: 1168px;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 16px;
    }
}

.section-title {
    /* width: 412px; */
    margin: 0 auto 50px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
}

@media only screen and (min-width: 768px) {
    .section-title {
        font-size: 24px;
        line-height: 1.16;
    }
}

.accent-text {
    color: #fd9222;
}

/* BUTTON */
/* #region btn */
.btn {
    font-weight: 600;
    font-size: 14px;
    color: #fff;

    background: #fd9222;
    border: none;

    border-radius: 100px;
    padding: 12px 28px;
    transition: color 250ms cubic-bezier(0.4, 0, 1, 1), background-color 250ms cubic-bezier(0.4, 0, 1, 1);
}

@media only screen and (min-width: 768px) {
    .btn {
        padding: 14px 40px;
    }
}

.btn:hover,
.btn:focus {
    background-color: #fcf1e0;
    color: #fd9222;
    transform: scale(1.1);
}

.hero-btn-transparent {

    background-color: transparent;
    border: 1px solid #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 1, 1), border 250ms cubic-bezier(0.4, 0, 1, 1);
}

.hero-button-made:hover,
.hero-button-made:focus {
    border: 1px solid #fd9222;
    color: #fd9222;
}

/* #endregion  btn */

/* #region HEADER */
.header {
    /* display: flex;
    align-items: center; */
    padding: 17px 0;
}

@media only screen and (min-width: 1200px) {
    .header {
        padding: 24px 0;
    }
}

.header-container {
    display: flex;

}

.nav {
    display: flex;
    align-items: center;

    justify-content: space-between;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .nav {}
}

.logo {
    margin-right: 47px;
}

@media only screen and (min-width: 1200px) {
    .logo {
        width: 213px;
        height: 24px;
        margin-right: 365px;
    }
}

.logo-icon {
    width: 100%;
}

.burger-btn {
    border: none;
    background-color: transparent;
    width: 28px;
    height: 28px;
    padding: 0;
    color: #111111;
    transition: color 50ms cubic-bezier(0.4, 0, 1, 1);
}

.burger-btn:hover,
.burger-btn:focus,
.burger-btn:active {
    color: #fd9222;
}

@media only screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
}

.burger-icon {
    stroke: currentColor;
}

.menu {
    display: none
}

@media only screen and (min-width: 768px) {
    .menu {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-right: 28px;
    }
}

@media only screen and (min-width: 1200px) {
    .menu {
        margin-right: 90px;
    }
}

.menu-list {}

.menu-list-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
    padding: 12px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 1, 1);
}

.menu-list-link:hover,
.menu-list-link:focus,
.menu-list-link:active {
    color: #fd9222;
}

.socials {
    display: none;
}

@media only screen and (min-width: 768px) {
    .socials {
        display: flex;
        align-items: center;
        gap: 14px;
        margin-left: auto;
    }
}

.socials-list {}

.socials-list-link {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    transition: color 250ms cubic-bezier(0.4, 0, 1, 1), border-color 250ms cubic-bezier(0.4, 0, 1, 1);
}

.socials-list-link:hover,
.socials-list-link:focus {
    border: 1px solid rgba(253, 146, 34, 0.1);
    color: #fd9222;
}

.socials-icons {
    fill: currentColor;
}

.socials-icons:hover,
.socials-icons:focus {
    transform: scale(1.1);
}

/* #endregion HEADER */

/* #region HERO section */
.hero {
    color: #fff;
}

.hero-container {
    padding: 395px 20px 20px;
    margin-bottom: 80px;
    border-radius: 30px;
    background: linear-gradient(rgba(17, 17, 17, 0.4),
            rgba(17, 17, 17, 0.4)),
        url(../images/hero-bg_lg@1x.webp) rgba(17, 17, 17, 0.4) no-repeat center/cover;
    /* background-size: cover; */
}

@media (min-resolution: 192dpi) {
    .hero-container {
        background: rgba(17, 17, 17, 0.4) url(../images/hero-bg_lg@2x.webp) no-repeat center center;
    }
}

@media only screen and (min-width: 768px) {
    .hero-container {
        padding: 678px 40px 40px;
    }
}

@media only screen and (min-width: 1200px) {
    .hero-container {
        padding: 381px 40px 40px;
    }
}

.hero-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
    .hero-title {
        max-width: 484px;
        font-size: 28px;
        line-height: 1.21;
    }
}

.hero-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 14px;
    align-items: center;
}

.hero-link {
    display: flex;
    align-items: center;
    gap: 14px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    transition: color 50ms cubic-bezier(0.4, 0, 1, 1);
}

@media only screen and (min-width: 768px) {
    .hero-link {
        font-size: 14px;
        line-height: 1.28;
        margin-left: auto;
    }
}

.hero-link:hover,
.hero-link:focus {
    color: #fd9222;
}

.hero-link:hover .hero-scroll,
.hero-link:focus .hero-scroll {
    fill: #fff;
    background-color: #fd9222;
    transform: scale(1.1);
}

.hero-scroll {
    border-radius: 100%;
    fill: #fd9222;
    background-color: #fff;
    width: 28px;
    height: 28px;
    transition: fill 50ms cubic-bezier(0.4, 0, 1, 1), background-color 50ms cubic-bezier(0.4, 0, 1, 1), transform 50ms cubic-bezier(0.4, 0, 1, 1);
}


@media only screen and (min-width: 768px) {
    .hero-scroll {
        width: 38px;
        height: 38px;
    }
}

/* 
.hero-scroll:hover,
.hero-scroll:focus {
    fill: #fff;
    background-color: #fd9222;
} */

/* #endregion HERO section */

/* benefits */
/* #region benefits */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
}

.benefits {
    background: #1e1823;
    padding: 50px 0;
}

.benefits-list {
    display: flex;
    justify-content: space-between;
    gap: 88px;
}

.benefits-item {
    width: 308px;
}

.benefits-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #fff;
    margin-bottom: 18px;

}

.benefits-desc {
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

/* #endregion benefits */

/* ingredients */
/* #region ingredients */
.ingredients {
    padding-top: 120px;
}

.ingredients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.ingredients-item {
    border-radius: 15px;
    width: calc((100% - 3 * 32px) / 4);
    padding: 28px 23px;
}

/* ? a * n + b */
.ingredients-item:nth-child(2n) {
    border: 1px solid #fd9222;
}

.ingredients-item:nth-child(4n + 1) {
    background-color: #fd9222;
    color: #ffffff;
}

.ingredients-item:nth-child(4n + 3) {
    background-color: #1e1823;
    color: #ffffff;
}

.ingredients-ill {
    margin-bottom: 36px;
}

.ingredients-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

/* #endregion ingredients */

/* !Mobile menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    background: #1e1823;
    transition: transform 400ms ease-in;
    overflow-y: scroll;
}

@media only screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 136px 20px 20px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: auto;
    margin-bottom: 28px;
    color: #fff;
    transition: color 50ms cubic-bezier(0.4, 0, 1, 1);
}

.close-btn:hover,
.close-btn:focus {
    color: #fd9222;
    transform: scale(1.1);
}

.close-icon {
    stroke: currentColor;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: auto;
}


.mobile-menu-item {}

.mobile-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 1, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:active {
    color: #fd9222;

}

.mobile-socials-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 14px;
}

.mobile-socials-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
}

.mobile-socials-link {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
    color: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 1, 1), border-color 250ms cubic-bezier(0.4, 0, 1, 1);
    ;
}

.mobile-socials-link:hover,
.mobile-socials-link:focus,
.mobile-socials-linc:active {
    color: #fd9222;
    border-color: rgba(253, 146, 34, 0.1);
}

.mobile-socials-icons {
    fill: currentColor;
}

.mobile-socials-icons:hover,
.mobile-socials-icons:focus,
.mobile-socials-icons:active {
    transform: scale(1.1);
}